/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

.text-double{
  font-size: 20px;
}

// Flash message for semantic ui
.message.closable {
  margin-left: 20%;
  margin-right: 20%;
}

//Margin 
.marg-b{
  margin-bottom: 10% !important;
}
.marg-t{
  margin-top: 10px !important;
}

// Card-image same height
img.card-image {
  display: block;
  width: 100%;
  height: auto;
  // max-width:350px;
  min-height: 250px;
  max-height: 250px;
}

//Navbar
#content {
  min-height: 100px;
}
.ui.grid.navbar-grid{
  padding: 0 !important;
}
.pushable{
  margin: 0 !important;
}

//Dashboard css
.image-dashboard{
  width: 150px;
  height: auto;
  min-height: 100px;
  max-height: 150px;
}
